.ui.inverted.vertical.footer.segment
  .ui.center.aligned.container
    .ui.stackable.inverted.divided.grid
      .three.wide.column
        h4.ui.inverted.header About
        .ui.inverted.link.list
          a.item(href='http://kodji.name') Contact me
          a.item(href='http://twitter.com/kodji')
            i.twitter.icon
            | My twitter
      .three.wide.column
        h4.ui.inverted.header Tech
        .ui.inverted.link.list
          a.item(href='https://github.com/kodji/pixels')
            i.github.icon
            | Fork me on Github
          a.item(href='http://semantic-ui.com/') Semantic UI site
          a.item(href='http://snapsvg.io/') Snap.svg site
          a.item(href='http://gulpjs.com/plugins/') Gulp plugins search
      .three.wide.column
        h4.ui.inverted.header Quick access
        .ui.inverted.link.list
          a.item(href='http://stackoverflow.com/') SOF
          a.item(href='http://html2jade.org/') html2jade
      .seven.wide.column
        h4.ui.inverted.header Pixels
        p
          | Yet another SVG editor
    .ui.inverted.section.divider
    img.ui.centered.image(src='/images/logo@2x.png')
    .ui.horizontal.inverted.small.divided.link.list
      a.item(href='/license.html') License
      a.item(href='http://kodji.name') Contact me
      a.item(href='http://twitter.com/kodji') Twitter