.ui.fixed.inverted.menu
  .ui.container
    .header.item(href='http://home.kodji.name')
      img.logo(src='/images/logo.png')
      | Pixels
    a.item(href='/') Home
    a.ui.simple.dropdown.item(href='#')
      | Info
      i.dropdown.icon
      .menu
        .item(href="/about.html") About
        .divider
        .header Other
        .item
          i.dropdown.icon
          | Sub
          .menu
            .item Link Item
            .item Link Item
        .item Link Item
