script(type="application/javascript", src="/components/jquery/dist/jquery.min.js")
script(type="application/javascript", src="/components/semantic-ui/dist/semantic.min.js")
script(type="application/javascript", src="/components/Snap.svg/dist/snap.svg-min.js")
script(type="application/javascript", src="/js/all.js")