doctype html
html(lang="en")
  include ./partial/head.jade
  +head('Pixels')
  body
    include ./partial/main-menu
    .ui.main.text.container
      h1.ui.header Pixels
      p Yet another SVG editor
      p
        | Click on the palette to choose color. Draw in the draw place. Download result
      p
        span Palette
        br
        svg#palette
      p
        span Draw place
        br
        svg#svg
      p
        a#dl.ui.green.basic.button(href="#")
          i.save.icon
          span Save result
    include ./partial/footer.jade
    include ./partial/scripts-editor.jade